{%- if production_jenkins %}
stage('Setup git credentials') {
  steps {
    withCredentials([
          string(credentialsId: 'git-credentials-github', variable: 'GIT_CREDENTIALS_GITHUB'),
    ]) {
        sh '''
        git config --global credential.helper store
        echo $GIT_CREDENTIALS_GITHUB > ~/.git-credentials
        '''
    }
  }
}
{%- endif %}
