// This includes expects the `branch` and `tag` variable to be defined.
// `branch` being possibly of the form /refs/tags/vx.y.z
// `tag` being derived out of the `branch` variable
// See rust-incoming-tag.groovy.j2 for an example

stage('Build and upload Rust Crates') {
  when {
    // The tag is in the right format
    expression { branch ==~ /refs\/tags\/v\d+(:?\.\d+)+(:?(:?a|b|rc)\d+)?/ }
    // Job to build images exist
    expression { jenkinsJobExists('/rust/{{name}}/crates-upload') }
  }
  steps {
    build(
      job: '/rust/{{name}}/crates-upload',
      parameters: [
        string(name: 'GIT_TAG', value: tag),
        booleanParam(name: 'DRY_RUN', value: dry_run),
      ],
      wait: true,
    )
  }
}
