stage('Python tests') {
  steps {
    sh '''
    tox -e $TOX_ENVIRONMENT -- \
      --cov-report=xml \
      --junit-xml=test-results.xml \
      -v
    '''
  }
  post {
    always {
      archiveArtifacts(
        allowEmptyArchive: true,
        artifacts: '*.xml',
        fingerprint: true,
      )

      // JUnit report
      junit(
        allowEmptyResults: true,
        testResults: 'test-results.xml',
      )
    }
  } // post
} // unit tests
