stage('Build rust artifacts') {
  {% filter indent(width=2) %}
    {%- include 'includes/agent-docker-rust.groovy.j2' -%}
  {% endfilter %}

  steps {
    sh '''\
      export CARGO_HOME=/home/jenkins/.cache/cargo
      cargo build --all-features
    '''
  }
}
