stage('Build rust artifacts') {
  {% filter indent(width=2) %}
    {%- include 'includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  steps {
    sh '''\
      prepare-cargo-cache
      cargo build --all-features
    '''
  }
}
