stage('cargo build') {
  steps {
    script {
      sh "prepare-cargo-cache"
      parallel([
        {% for rust_version in [rust_min_version, 'stable', 'nightly'] %}
          'rust {{ rust_version }}': {
            {% if production_jenkins %}
            withCredentials([
              string(credentialsId: 'sccache-redis-endpoint', variable: 'SCCACHE_REDIS_ENDPOINT'),
              string(credentialsId: 'sccache-redis-password', variable: 'SCCACHE_REDIS_PASSWORD'),
            ]) {
            {% endif %}
            {% if rust_version == 'stable'%}
              // one build must keep the default target directory as Python tests might
              // depend on binaries under that path
              def target_dir="target"
            {% else %}
              def target_dir="target_{{ rust_version }}"
            {% endif %}
              sh """\
                  set -e
                  mkdir -p ${target_dir}
                  RUSTC_WRAPPER=sccache CARGO_INCREMENTAL=0 \
                  cargo +{{ rust_version }} build --target-dir ${target_dir} --all-features --locked
                """
            {% if production_jenkins %}
            }
            {% endif %}
          },
        {% endfor %}
      ])
    }
  }
}
