stage('Build wheel') {
    steps {
    {%- if use_cibuildwheel %}
        sh '''
        $SWH_PYTHON_FOR_GLOBAL_TOOLS -m cibuildwheel --platform linux --output-dir dist/
        '''
    {%- else %}
        sh '''
        $SWH_PYTHON_FOR_GLOBAL_TOOLS -m build --wheel
        '''
    {%- endif %}
    }
}