// require "Throttle Concurrent Builds" Jenkins plugin
throttleJobProperty(
  categories: [],
  limitOneJobWithMatchingParams: false,
  maxConcurrentPerNode: {{ max_concurrent }},
  maxConcurrentTotal: {{ max_concurrent }},
  paramsToUseForLimit: '',
  throttleEnabled: true,
  throttleOption: 'project',
)