{# When changing this script also update swh-docs-pipeline.groovy.j2 which inlines it #}
failure {
  {% filter indent(width=2) %}
    {%- include 'jobs/templates/includes/update-gitlab-commit-status-failure.groovy.j2' -%}
  {% endfilter %}
}
success {
  {% filter indent(width=2) %}
    {%- include 'jobs/templates/includes/update-gitlab-commit-status-success.groovy.j2' -%}
  {% endfilter %}
}
aborted {
  {% filter indent(width=2) %}
    {%- include 'jobs/templates/includes/update-gitlab-commit-status-aborted.groovy.j2' -%}
  {% endfilter %}
}
