script {
  updateGitlabCommitStatus name: 'jenkins', state: 'failed'
  if (env.gitlabMergeRequestIid) {
    def message = "Jenkins job "
    message += "[${env.JOB_NAME}](${env.JOB_URL}) "
    message += "[#${env.BUILD_ID}](${env.BUILD_URL}) "
    message += "{-failed-} "
    message += "in ${currentBuild.durationString.minus(' and counting')}.<br/>"
    message += "See [Console Output](${env.BUILD_URL}console), "
    message += "[Blue Ocean](${env.RUN_DISPLAY_URL}) and "
    message += "[Coverage Report](${env.BUILD_URL}coverage) for more details."
    addGitLabMRComment comment: message
  }
}
