pipeline {
  agent none
  stages {
    stage('Refresh tag list') {
      agent any
      steps {
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            name:'origin', url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/tags/*:refs/remotes/origin/tags*'
          ]],
          branches: [[
            name: "${env.gitlabSourceBranch}"
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          extensions: [[$class: 'CloneOption', honorRefspec: true]],
        ])
      }
    }
    stage('Build and upload PyPI package') {
      when {
        expression { "${env.gitlabSourceBranch}" ==~ /refs\/tags\/v\d+(.\d+)+/ }
        expression { jobExists('/{{name}}/pypi-upload') }
      }
      steps {
        build(
          job: '/{{name}}/pypi-upload',
          parameters: [
            // remove refs/tags/ prefix from source branch
            string(name: 'GIT_TAG', value: env.gitlabSourceBranch.substring(10)),
            string(name: 'PYPI_HOST', value: '{{incoming_tag_auto_pypi_host}}'),
          ],
          wait: true,
        )
      }
    }

    stage('Update Debian packaging for new release') {

      when {
        expression { "${env.gitlabSourceBranch}" ==~ /refs\/tags\/v\d+(.\d+)+/ }
        expression { jobExists('/debian/packages/{{name}}/update-for-release') }
      }

      steps {
        build(
          job: '/debian/packages/{{name}}/update-for-release',
          parameters: [
            // remove refs/tags/ prefix from source branch
            string(name: 'GIT_TAG', value: env.gitlabSourceBranch.substring(10)),
          ],
          wait: true,
        )
      }
    }

    stage('Build Debian package') {
      when {
        expression { "${env.gitlabSourceBranch}" ==~ /refs\/tags\/debian\/.*/ }
        expression { !("${env.gitlabSourceBranch}" ==~ /refs\/tags\/debian\/upstream\/.*/) }
        expression { jobExists('/debian/packages/{{name}}/gbp-buildpackage') }
      }
      steps {
        build(
          job: '/debian/packages/{{name}}/gbp-buildpackage',
          parameters: [
            // remove refs/tags/ prefix from source branch
            string(name: 'GIT_REVISION', value: env.gitlabSourceBranch.substring(10)),
            booleanParam(name: 'DO_UPLOAD', value: true),
          ],
          wait: true,
        )
      }
    }
  }
  post {
    {% filter indent(width=4) %}
      {%- include 'includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
  }
}
