def branch = params.GIT_TAG ? params.GIT_TAG : env.gitlabSourceBranch
def tag = branch
if ( tag.contains("refs/tags/") ) {
  // the tag is the actual branch without 'refs/tags/' prefix
  // so we are trying to compute the tag properly once
  tag = tag.substring(10)
}
// Do we actually publish anything?
def dry_run = params.DRY_RUN

{% include 'includes/jenkins-job-exists.groovy.j2' %}

pipeline {
  agent none
  stages {
    stage('Refresh tag list') {
      agent any
      steps {
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            name:'origin', url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/tags/*:refs/remotes/origin/tags*'
          ]],
          branches: [[
            name: branch
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          extensions: [
            [$class: 'CloneOption', honorRefspec: true],
            [
              $class: 'SubmoduleOption',
              disableSubmodules: false,
              recursiveSubmodules: true,
            ]
          ]
        ])
      }
    }

    {% filter indent(width=4) %}
      {%- include 'includes/stage-rust-crates-upload.groovy.j2' -%}
    {% endfilter %}

  }
  post {
    {% filter indent(width=4) %}
      {%- include 'includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
  }
}
