pipeline {
  agent none
  stages {

    stage('Refresh tag list') {
      agent any
      steps {
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            name:'origin', url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/tags/*:refs/remotes/origin/tags*'
          ]],
          branches: [[
            name: "${env.gitlabSourceBranch}"
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          extensions: [[$class: 'CloneOption', honorRefspec: true]],
        ])
      }
    }

    stage('Build and upload Rust Crate package') {
      when {
        // The tag is in the right format
        expression { "${env.gitlabSourceBranch}" ==~ /refs\/tags\/v\d+(:?\.\d+)+(:?(:?a|b|rc)\d+)?/ }
        // Job to build images exist
        expression { jenkinsJobExists('/{{name}}/rust-crates-upload') }
      }
      steps {
        build(
          job: '/{{name}}/rust-crates-upload',
          parameters: [
            // remove refs/tags/ prefix from source branch
            string(name: 'GIT_TAG', value: env.gitlabSourceBranch.substring(10)),
          ],
          wait: true,
        )
      }
    }

  post {
    {% filter indent(width=4) %}
      {%- include 'includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
  }
}

{% include 'includes/jenkins-job-exists.groovy.j2' %}
