// Whether we do the publication step
def publish_ok = not params.dry_run
def skip_crates_publication = params.SKIP_CRATES_PUBLICATION

pipeline {
  {% filter indent(width=2) %}
    {%- include 'includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  stages {
    stage('Run tests') {
      when {
        expression { return !params.SKIP_TESTS }
        beforeAgent true
      }
      agent none
      steps {
        build(
          job: '/{{name}}/rust-gitlab-builds',
          parameters: [
            string(name: 'REVISION', value: params.GIT_TAG),
          ],
          propagate: !params.IGNORE_TESTS,
        )
      }
    }

    stage('Checkout') {
      steps {
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            name:'origin', url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/tags/*:refs/remotes/origin/tags*'
          ]],
          branches: [[
            name: "${params.GIT_TAG}"
          ]],
          extensions: [
            [$class: 'CloneOption', honorRefspec: true],
            [
              $class: 'SubmoduleOption',
              disableSubmodules: false,
              recursiveSubmodules: true,
            ]
          ],
          extensions: [],
          gitTool: 'Default',
        ])
      }
    }

    stage('(DryRun) Publish - Checks cargo package step is ok') {
      when {
        expression { return !skip_crates_publication }
      }
      steps {
        // Check whether all crates from the repositories are crate compliant
        {% for crate in crate_names %}
          sh "cargo publish -p {{crate}} --dry-run"
        {% endfor %}
      }
    }

    {% if production_jenkins %}
    stage('Publish') {
      when {
        // and we are ok to publish
        expression { publish_ok }
        expression { return !skip_crates_publication }
      }
      steps {
        // Then we are go to publish the crates
        withCredentials([
          string(credentialsId: 'swhmirror-crates-api-token',
                 variable: 'CARGO_REGISTRY_TOKEN')]) {
          {% for crate in crate_names %}
            sh "cargo publish -p {{crate}}"
          {% endfor %}
        }
      }
    }
    {% endif %}
  }
  post {
    cleanup {
      cleanWs()
    }
  }
}
