def module_name = '{{repo_name}}'.replace('-', '.')

def PYPI_UPLOAD_HOST

switch (params.PYPI_HOST) {
  case 'pypi.org':
    PYPI_UPLOAD_HOST = 'upload.pypi.org'
    break
  default:
    PYPI_UPLOAD_HOST = params.PYPI_HOST
    break
}

// Whether we do the publication step
def publish_ok = not params.dry_run
def artifactsBuildJobId

{% include 'includes/jenkins-job-exists.groovy.j2' %}

{% include 'includes/trigger-build.groovy.j2' %}

pipeline {
  {% filter indent(width=2) %}
    {%- include 'includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  stages {
    stage('Build sdist and wheel then run tests') {
      when {
        expression { return !params.SKIP_TESTS }
        expression { jenkinsJobExists('/{{name}}/gitlab-builds') }
        beforeAgent true
      }
      agent none
      steps {
        script {
          artifactsBuildJobId = triggerBuild(
            job: '/{{name}}/gitlab-builds',
            parameters: [
              string(name: 'REVISION', value: params.GIT_TAG),
              string(name: 'TOX_PROFILE', value: "full"),
              booleanParam(name: 'SDIST_WHEEL_ARTIFACTS', value: true),
            ],
          ).number
        }
      }
    }

    stage('Copy built sdist and wheel') {
      when {
        expression { return !params.SKIP_TESTS }
      }
      steps {
        copyArtifacts(
          projectName: '/{{name}}/gitlab-builds',
          selector: specific("${artifactsBuildJobId}"),
          filter: 'dist/*'
        )
      }
    }

    // when skipping tests, sdist and wheel are built by this job
    // so package repository must be cloned

    stage('Checkout') {
      when {
        expression { return params.SKIP_TESTS }
      }
      steps {
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            name:'origin', url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/tags/*:refs/remotes/origin/tags*'
          ]],
          branches: [[
            name: "${params.GIT_TAG}"
          ]],
          extensions: [[$class: 'CloneOption', honorRefspec: true]],
          extensions: [],
          gitTool: 'Default',
        ])
      }
    }

    {% filter indent(width=4) %}
      {%- include 'includes/stage-build-sdist-wheel.groovy.j2' -%}
    {% endfilter %}

    // end of stages only executed when skipping tests

    stage('Archive sdist and wheel as job artifacts') {
      steps {
        archiveArtifacts allowEmptyArchive: true,
          artifacts: 'dist/*',
          fingerprint: true
      }
    }

    stage('Publish sdist and wheel') {
      when {
        anyOf {
          expression { return publish_ok }
          expression { return params.FORCE_UPLOAD }
        }
      }
      steps {
        {% if production_jenkins %}
        withCredentials([
          usernamePassword(credentialsId: PYPI_UPLOAD_HOST,
                           usernameVariable: 'TWINE_USERNAME',
                           passwordVariable: 'TWINE_PASSWORD')]) {
          sh "twine upload --skip-existing --verbose --repository-url https://${PYPI_UPLOAD_HOST}/legacy/ dist/*"
        }
        {% else %}
        // simply check package can be uploaded when testing job locally
        sh "twine check dist/*"
        {% endif %}
      }
    }
  }
  post {
    cleanup {
      cleanWs()
    }
  }
}
