def startedByTimer = currentBuild.getBuildCauses('hudson.triggers.TimerTrigger$TimerTriggerCause')
def startedByUser = currentBuild.getBuildCauses('hudson.model.Cause$UserIdCause')
def dockerBuildOpts = '--pull'
if (params.NO_DOCKER_CACHE) {
  dockerBuildOpts += ' --no-cache'
} else {
  dockerBuildOpts = ' --no-cache-filter install_python_packages'
}

{%- if production_jenkins %}
dockerBuildOpts += ' --secret id=SCCACHE_REDIS_ENDPOINT --secret id=SCCACHE_REDIS_PASSWORD'
{%- endif %}

def branch = "master"
if (env.gitlabMergeRequestIid) {
  branch = "merge-requests/${env.gitlabMergeRequestIid}"
} else if (env.gitlabSourceBranch) {
  branch = env.gitlabSourceBranch
}

pipeline {
  {% filter indent(width=2) %}
    {%- include 'templates/includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  options {
    timeout(time: 60, unit: 'MINUTES')
    timestamps()
  }

  stages {
    stage('Checkout') {
      steps {
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/heads/*:refs/remotes/origin/* \
                      +refs/merge-requests/*/head:refs/remotes/origin/merge-requests/*',
          ]],
          branches: [[
            name: branch
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          extensions: [[$class: 'CloneOption', honorRefspec: true],
                       [$class: 'ChangelogToBranch',
                        options: [compareRemote: 'origin', compareTarget: 'master']]],
          gitTool: 'Default',
        ])
      }
    }

    stage('Build Docker images') {
      steps {
        {% if production_jenkins %}
        withCredentials([
          string(credentialsId: 'sccache-redis-endpoint', variable: 'SCCACHE_REDIS_ENDPOINT'),
          string(credentialsId: 'sccache-redis-password', variable: 'SCCACHE_REDIS_PASSWORD'),
        ]) {
        {% endif %}
          sh """
          docker build $dockerBuildOpts -t swh/stack .
          """
        {% if production_jenkins %}
        }
        {% endif %}
      }
    }

    stage('Run tests') {
      steps {
        sh '''
          basetemp=$WORKSPACE/tmp-pytest
          mkdir -p $basetemp
          tox --runner virtualenv -- -vv --basetemp=$basetemp
        '''
      }
    }
  }

  post {
    {% filter indent(width=4) %}
      {%- include 'jobs/templates/includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
    always {
      archiveArtifacts(
        allowEmptyArchive: true,
        artifacts: 'tmp-pytest/**/*.logs',
      )
    }
    cleanup {
      cleanWs()
    }
  }
}
