def branch = "master"
if (env.gitlabMergeRequestIid) {
  branch = "merge-requests/${env.gitlabMergeRequestIid}"
} else if (env.gitlabSourceBranch) {
  branch = env.gitlabSourceBranch
}

pipeline {
  {% filter indent(width=2) %}
    {%- include 'includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  options {
    // require "Throttle Concurrent Builds" Jenkins plugin
    throttleJobProperty(
      categories: [],
      limitOneJobWithMatchingParams: false,
      maxConcurrentPerNode: {{ max_concurrent }},
      maxConcurrentTotal: {{ max_concurrent }},
      paramsToUseForLimit: '',
      throttleEnabled: true,
      throttleOption: 'project',
    )
  }

  stages {
    stage('Checkout') {
      steps {
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/heads/*:refs/remotes/origin/* \
                      +refs/merge-requests/*/head:refs/remotes/origin/merge-requests/* \
                      +refs/tags/*:refs/remotes/origin/tags*',
          ]],
          branches: [[
            name: params.REVISION ?: branch
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          doGenerateSubmoduleConfigurations: false,
          extensions: [[$class: 'CloneOption', honorRefspec: true]],
          gitTool: 'Default',
          submoduleCfg: [],
        ])
      }
    }

    stage ('flake8') {
      steps {
        sh '''tox -e flake8'''
      }
    }

    stage ('mypy') {
      steps {
        sh '''tox -e mypy'''
      }
    }

    stage('Tests') {
      options {
        timeout(time: {{ timeout }}, unit: 'MINUTES')
      }

      parallel {
        {% filter indent(width=8) %}
          {%- include 'includes/stage-python-tests.groovy.j2' -%}
        {% endfilter %}

        {%- if do_cypress %}
        {% filter indent(width=8) %}
          {%- include 'includes/stage-cypress-tests.groovy.j2' -%}
        {% endfilter %}
        {%- endif %}

        stage('Sphinx documentation') {
          {% filter indent(width=10) %}
            {%- include 'includes/agent-docker-sphinx.groovy.j2' -%}
          {% endfilter %}

          steps {
            sh '''
            if tox -a | grep -x sphinx >/dev/null
            then
              tox -e sphinx -x testenv.basepython={{ sphinx_basepython }}
            else
              echo WARNING: no sphinx environment in tox.ini
            fi
            '''
          }
        } // sphinx doc
      } // parallel
    } // Tests stage
  } // stages

  post {
    {% filter indent(width=4) %}
      {%- include 'includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
    always {
      script {
        if (env.gitlabMergeRequestIid) {
          // when building a merge request, discover base commit in master branch
          // and its associated Jenkins build in order to display code coverage report
          // in Jenkins UI focused on the merge request changes
          discoverGitReferenceBuild(referenceJob: "{{name}}/master")
        }
      }
      // publish code coverage report to browse it from Jenkins UI
      publishCoverage(
        adapters: [
          coberturaAdapter(mergeToOneReport: true, path: '**/*coverage*.xml'),
        ],
        sourceDirectories: [[path: '{{python_module}}'.replace('.', '/')]],
        sourceFileResolver: sourceFiles('STORE_ALL_BUILD'),
        calculateDiffForChangeRequests: "${env.gitlabMergeRequestIid}" != "null",
      )
    }
    cleanup {
      cleanWs()
    }
  } // post
} // pipeline
