{%- if gitlab_trigger %}
def startedByTimer = currentBuild.getBuildCauses('hudson.triggers.TimerTrigger$TimerTriggerCause')
def startedByUser = currentBuild.getBuildCauses('hudson.model.Cause$UserIdCause')
def dockerBuildOpts = '--pull'
if (startedByTimer || startedByUser) {
  dockerBuildOpts += ' --no-cache'
}
{%- else %}
def dockerBuildOpts = '--pull --no-cache'
{%- endif %}

def branch = "master"
{%- if gitlab_trigger %}
if (env.gitlabMergeRequestIid) {
  branch = "merge-requests/${env.gitlabMergeRequestIid}"
} else if (env.gitlabSourceBranch) {
  branch = env.gitlabSourceBranch
}
{%- endif %}

pipeline {
  {% filter indent(width=2) %}
    {%- include 'templates/includes/agent-docker.groovy.j2' -%}
  {% endfilter %}

  options {
    timeout(time: 40, unit: 'MINUTES')
    timestamps()
    {% filter indent(width=4) %}
      {%- include 'templates/includes/throttle-job-property.groovy.j2' -%}
    {% endfilter %}
  }

  stages {
    stage('Checkout') {
      steps {
        {%- if gitlab_trigger %}
        updateGitlabCommitStatus name: 'jenkins', state: 'running'
        {%- endif %}
        checkout([
          $class: 'GitSCM',
          userRemoteConfigs: [[
            url: '{{gitlab_url}}/{{gitlab_project_name}}.git',
            refspec: '+refs/heads/*:refs/remotes/origin/* \
                      +refs/merge-requests/*/head:refs/remotes/origin/merge-requests/*',
          ]],
          branches: [[
            name: branch
          ]],
          browser: [
            $class: 'GitLab',
            repoUrl: '{{gitlab_url}}/{{gitlab_project_name}}'
          ],
          extensions: [[$class: 'CloneOption', honorRefspec: true],
                       [$class: 'ChangelogToBranch',
                        options: [compareRemote: 'origin', compareTarget: 'master']]],
          gitTool: 'Default',
        ])
      }
    }

    stage('Build Docker images') {
      steps {
        sh "docker build $dockerBuildOpts -t swh/stack ."
      }
    }

    stage('Run tests') {
      steps {
        lock('docker-agent-host-port-5080') {
          sh '''
            basetemp=$WORKSPACE/tmp-pytest
            mkdir -p $basetemp
            tox -- -v --basetemp=$basetemp
          '''
        }
      }
    }
  }

  post {
    {%- if gitlab_trigger %}
    {% filter indent(width=4) %}
      {%- include 'jobs/templates/includes/update-gitlab-commit-status.groovy.j2' -%}
    {% endfilter %}
    {%- endif %}
    always {
      archiveArtifacts(
        allowEmptyArchive: true,
        artifacts: 'tmp-pytest/**/*.logs',
      )
    }
    cleanup {
      cleanWs()
    }
  }
}
